* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #9270d7;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	position: relative;
	max-width: 400px;
	width: 100%;
	height: 260px;
	padding: 25px;
	border-radius: 15px;
	background-color: #ffffff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	transition: height 0.3s ease;
}

.wrapper header {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}

.wrapper header h1 {
	font-size: 26px;
	font-weight: 600;
	color: #373737;
}

.wrapper header label {
	color: #545454;
	margin-left: 2px;
}

.range-inputs {
	display: flex;
	align-items: center;
	gap: 1em;
	position: relative;
}

.range-inputs .field {
	display: flex;
	align-items: center;
	gap: 0.7em;
	height: 41px;
	font-size: 17px;
	color: #474747;
}

.range-inputs .field input {
	width: 100%;
	height: 100%;
	border: 1px solid #aaaaaa;
	border-radius: 7px;
	outline: none;
	padding: 10px 15px;
	text-align: center;
	font-size: 17px;
	color: #474747;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.double-slider {
	position: relative;
	height: 5px;
	border-radius: 5px;
	background-color: #ebebeb;
	margin-top: 0.5em;
}

.double-slider .range {
	position: absolute;
	height: 5px;
	left: 20%;
	right: 20%;
	border-radius: 5px;
	background-color: #9270d7;
}

.double-slider .range-sliders {
	position: relative;
}

.double-slider .range-sliders input {
	position: absolute;
	height: 5px;
	width: 100%;
	background: none;
	outline: none;
	appearance: none;
	pointer-events: none;
}

input[type='range']::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9270d7;
	appearance: none;
	pointer-events: auto;
}
